.canvas {
    border: 10px solid white;
    padding: .5em;
    max-width: 36em;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    display: flex;
    height: 2em;
    width: 2em;
    border: 2px solid black;
    
}

.pixel:hover{
    border: 2px solid mistyrose;
}